<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>INSERT APP NAME HERE</title>
    </head>
    <body>
        <div id="feed"></div>
        <div id="app"></div>
    </body>
</html>
