@import "~bootstrap/scss/bootstrap";

$fa-font-path : "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";

.results > .item > div > div {
  max-width: 90%;
  min-width: 60%;
}

.results {
  .item {
    i.download {
      cursor: pointer;
    }

    i.download:hover {
      color: $primary;
    }
  }
}

